node_modules
.idea
*.txt
*.fdf
config.json
.vscode
typings
src/digital-signature.js
src/digital-signature.js.map
src/digital-signature.spec.js
src/digital-signature.spec.js.map
src/setup.js
src/setup.js.map